[user]                                                                                                                 
  name = user
  email = user@email.com
[core]
  editor = vim
  autocrlf = false                                                                                                     
  safecrlf = false    
[color]
  ui = true
[init]
  defaultBranch = main
[alias]
  lg = log --oneline --graph
  lgu = log --oneline --graph --author="user@email.com"
  ls = log --graph --pretty=format:'%h <%an> %ar %s' 
  st = status --short
  sw = switch
  bv = branch -v
  aconf = config --list --global                                                                                       
  br = branch                                                                                                          
  co = checkout  
  main = switch main
  stable = switch stable
  develop = switch develop
  deploy = switch deploy
  staging = switch staging                                                                                             
  local = switch local  
  refactor = switch refactor
  test = switch test
  setmain = !git branch -m master main && git symbolic-ref HEAD refs/heads/main
  ps = !git push && git switch main && git rebase develop && git push && git switch develop
  psup = push --set-upstream origin
  captag = tag -l -n1 
  unstash = !git stash show -p | git apply -3 &\n& git stash drop
  commit-auth = commit --amend --author="'User <user@email.com>'" --no-edit
  clone-branches = "! git branch -a | sed -n \"/\\/HEAD /d; /\\/master$/d; /remotes/p;\" | xargs -L1 git checkout -t"
  release = !git flow release start $1 && git flow release finish $1
[push]
  autoSetupRemote = True
[pull]
  rebase = true
